<web-app>
 <servlet>
<servlet-name>sum</servlet-name>

 <servlet-class>Added.add</servlet-class>
 </servlet>
 <servlet-mapping>
<servlet-name>sum</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>square</servlet-name>

 <servlet-class>Added.sqservlet</servlet-class>
 </servlet>
 <servlet-mapping>
<servlet-name>square</servlet-name>
<url-pattern>/sq</url-pattern>
</servlet-mapping>
</web-app>